---
layout: default
title: "Insti Mornings" 
date: 2018-04-20
desc: 
author: Pranav Sankhe
keywords: "IIT Bombay, Mornings"
categories: []
tags: [IIT, IIT Bombay, Mornings]
icon: icon-html
comments: true
coverpic: './static/assets/'
---


<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                    	{% for category in page.categories %}
                        	<a class="btn btn-white btn-xs" href="{{ category | downcase | prepend: '/' | prepend: site.baseurl }}">{{ category }}</a>
                        {% endfor %}
                    </div>

<div class="text-center article-title">
                    <span class="text-muted"><i class="fa fa-clock-o"></i> {{ page.date | date: "%-d %b %Y" }}</span>
                        <h1>
                            {{ page.title }}
                        </h1>
                    </div>

<p style="font-family:Roboto;">
"IIT Bombay has an amazing campus with lavish greenery, sky-blue lakes and wise mountains. Just after the dawn, the whole campus basks in a golden glory. I frequently stroll at 6 AM to have a morning walk in the campus expecially around the lakeside area. 
This one day, when I was exhausted from preparing for my endsemester examinations I took a break and wrote a letter to my friend trying to describe the beauty of campus when the night melts and the melted water flows happily to welcome the dawn. 
<br>
<br>
<br>
<br>

<i>

"Hey! 
<br>
<br>
At this time of the day (6.30 AM) [Dawn], I am really exhausted from all the intense studying for my end semester exams and suddenly I thought of you and decided to write a letter. Don't you think mails are also letters just the conventional khaki postman/postwoman takes the form of Bits which encodes the letters(lol, literally) we write. 

<br>
<br>

The mornings are so beautiful; especially in our campus. The melodious symphony of cricket insects and the chirping of the birds where the cool mild breeze acting as the conductor of the symphony. The dis-obodient cuckoo sings out of the rhyme but the breeze allows it to do so as it is really sweet. Nature is inclusive and un-biased. 

<br>
<br>

There are few fitness freaks mostly professors, their spouses and some fat guys/girls jogging. Jogging under the casting spell of nature and well, sometimes the music. They have sort of agreed that they will be under the spell. Near the Powai lake, the cattle never misses to moo at 6.20 AM. I can never just contemplate their reason to do so but it just fits, in the clock. 

<br>
<br>

Lakhs of water-pearls are lying on the green canvases peacefully like they have acknowledged the fact that their presence is temporary and they are happy that they got a chance to hear the nature's symphony. 

<br>
<br>

The atmosphere is diabetic. Feels like some invisible blanket wrapped around me. Not hot, not very cold. The goldilocks temperature if you say. 

<br>
<br>
In an hour or so, the Pandora's box will open with that intense sunlight, vehicles and human oozing out of it in swarm. But I am not complaining. For the mental picture of the carpet of flowers on the road and alongside always keep the face-curve happy."
</i>
</p>

<div class="row">
                        <div class="col-lg-12">
                            <!-- share -->
                            {% include share.html %}
                            <br>
						<div id="disqus_thread"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

<script src="{{site.url}}/js/inlineDisqussions.js"></script>
<script src="{{site.url}}/js/disqus.js"></script>
                            </div>
                        </div>
                        <div class="col-md-4" id="toc-wrapper">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

    <script src="{{site.url}}/bootstrap/js/bootstrap.min.js"></script>

    <script src="{{site.url}}/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="{{site.url}}/js/footnotes.js"></script>
    <script src="{{site.url}}/js/bootstrap-carousel.js"></script>
    <script src="{{site.url}}/js/inlineDisqussions.js"></script>
    <script src="{{site.url}}/js/toc.js"></script>


    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <noscript>Enable JavaScript for footnotes, Disqus comments, and other cool stuff.</noscript>
    <!-- comment -->

</div>
</div>
</div>
</div>
</div>
</div>

</div>


