---
layout: default
title: "EE 769: Intro to ML course Notes" 
date: 2016-05-29
desc: 
author: Pranav Sankhe
keywords: "Anthropic principle, Strong, Weak"
categories: []
tags: [Anthropic principle]
icon: icon-html
comments: true
permalink: /ml/
---
<!-- {% include category.html %}
 -->
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                    	{% for category in page.categories %}
                        	<a class="btn btn-white btn-xs" href="{{ category | downcase | prepend: '/' | prepend: site.baseurl }}">{{ category }}</a>
                        {% endfor %}
                    </div>

<div class="text-center article-title">
                    <span class="text-muted"><i class="fa fa-clock-o"></i> {{ page.date | date: "%-d %b %Y" }}</span>
                        <h1>
                            {{ page.title }}
                        </h1>
                    </div>

<p style="font-family:FontAwesome;">
	You've just checked into your hotel room for a weekend. On entering the room you immediately walk onto the room's balcony to take in the eighth floor view. Unfortunately, the guardrail gives way the instant you lean on it and you fall. You scream, but for some reason you don't feel the pain you expected after falling on hard ground. Instead you find yourself immersed in an immense, soft bed. Of all the vehicles to fall into, you managed to hit an open trailer full of defective pillows from the local bedding factory.
	Why is it that conditions were just right for your survival? 
</p>
